<!--  It says document type for browser as html 5 file -->
<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <!--  For IE only -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->




        <link rel="stylesheet" href="CSS/Bootstrap/css/bootstrap.min.css">
        <title>Moon Light Graphics Factory </title>
    </head>

    <body>

        {% block top_java_script %}

        {% endblock %}

   
      

        {%  include '001_pages/003_Twig_template_html/top_nav.html' %}
        
        

        <div class="container">

            <div class="row">
                <br><br>
            </div>

            {% block content %}

            {% endblock %}

        </div>
        
        {% block bottom_java_script %}


        {% endblock %}
    </body>

</html>
